@media screen and (min-width: 1080px) {
    .sheep-page .products-filter__heading {
        min-width: 265px;
    }

    .sheep-page .products .products__list li.product .product-inner {
        padding: 0px 6px;
    }
}

@media screen and (min-width: 1195px) {
    .sheep-page .products .products__list li.product .product-inner {
        padding: 0px 24px;
    }
}

@media screen and (min-width: 1300px) {
    .sheep-page {
        
            width: 1300px;
            margin-left: auto;
            margin-right: auto;
        
    }
}

@media screen and (max-width: 1077px) {
    .sheep-page {
            .products {
                justify-content: center;
            }
    }
}

@media screen and (max-width: 870px) {
    .sheep-page {
        
            .products-filter__heading {
                min-width: 200px;
            }
        
    }
}

@media screen and (max-width: $mobile-view) {
    .h1 {
        font-size: 36px;
    }

    .h4 {
        font-size: 28px;
    }

    .top-bar {
        padding: 5px 10px;

        .menu {
            top: - $menu-height;
            left: 0;
            width: $menu-width-m;
            height: $menu-height;
            transition: top 500ms;
            text-align: center;
            padding: 40px 20px;

            &--slide {
                top: 0;
                transition: top 500ms;
            }

            @media (max-width: $mobile-view-landscape) and (orientation: landscape) {
                width: $menu-width-m-landscape;
                left: - $menu-width-m-landscape;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    li {
                        margin: 0;
                    }
                }
            }
        }

        .shopping-cart {
            margin-right: 5px
        }
    }

    .sheep-page {
        
            flex-direction: column;

            .products-filter {
                padding: 10px 10px;
                width: 100%;
                width: 100vw;
                box-sizing: border-box;

                &__heading {
                    margin: 10px 0;
                }

                &__list {
                    height: 0;
                    opacity: 0;
                    margin-top: 20px;
                    transition: opacity 200ms, height 800ms;

                    &--rolldown {
                        height: 140px;
                        opacity: 1;
                        transition: opacity 200ms linear 400ms, height 800ms;
                    }
                }
            }

            .products {
                padding: 10px;
                width: 100%;
            }

            .products-filter__heading {
                @media screen and (max-width: 870px) {
                    min-width: 200px;
                }
            }

            .products {
                .products__list {
                    justify-content: center;
                }
            }
        
    }
}