$white: #fafafa;
$dark-moderate-violet:#7935a3;
$dark-desaturated-violet: #512e67;
$moderate-pink: #c54c82;
$light-pink: #ff6699;
$black: #3b3838;
$menu-width-d: 30vw;
$menu-width-m-landscape: 50vw;
$menu-width-m: 100vw;
$menu-height: 100vh;
$mobile-view: 1024px;
$mobile-view-landscape: 640px;
$picture-width-d: 215px;