@use './_font-face';
@use './_hamburger';
@use './_reset';

//** Variables
$white: #fafafa;
$dark-moderate-violet:#7935a3;
$dark-desaturated-violet: #512e67;
$moderate-pink: #c54c82;
$light-pink: #ff6699;
$black: #000;
$menu-width-d: 30vw;
$menu-width-m-landscape: 50vw;
$menu-width-m: 100vw;
$menu-height: 100vh;
$mobile-view: 1024px;
$mobile-view-landscape: 640px;
$picture-width-d: 215px;

//** Mixin
@mixin heading($font-size, $background, $font-color) {
    font-family: 'Lalezar', monospace;
    font-size: $font-size;
    background: $background;
    color: $font-color;
}

@mixin flex-layout($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: $moderate-pink;
    font-family: 'Dejavu Sans', monospace;
    @include flex-layout(column)
}

.h1 {
    @include heading(48px, $moderate-pink, $white);
    margin: 0;
    padding-top: 35px;
    padding-bottom: 25px;
    text-align: center;
}

.h2 {
    @include heading(32px, $moderate-pink, $white);
}

.h3 {
    @include heading(22px, transparent, $moderate-pink);
}

.h4 {
    @include heading(22px, transparent, $white);
}

.h5 {
    @include heading(18px, transparent, $moderate-pink);
}

.top-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: $white;
    width: 100%;
    padding: 5px 40px;

    .hamburger__button {
        margin-left: -15px;
        position: relative;
        z-index: 3;
    }

    .menu {
        z-index: 2;
        top: 0;
        box-sizing: border-box;
        left: - $menu-width-d;
        position: absolute;
        width: $menu-width-d;
        height: $menu-height;
        background: $moderate-pink;
        transition: left 500ms;
        padding: 40px 20px 0 40px;

        li {
            margin: 50px 0;
        }

        &--slide {
            left: 0;
            transition: left 500ms;
        }
    }

    img {
        height: 60px;
        width: auto;
    }

    .shopping-cart {
        position: relative;
        @include flex-layout(column);

        &__products-quantity {
            top: 10px;
            right: -10px;
            height: 20px;
            width: 20px;
            color: $white;
            font-size: 12px;
            background: $dark-moderate-violet;
            position: absolute;
            border-radius: 50px;
            text-align: center;
            @include flex-layout(column);

            p {
                @include flex-layout()
            }
        }

        &__img {
            height: 40px;
        }
    }
}

.sheep-collection {
    display: flex;
    flex-direction: column;
    background: $white;

    .add-to-cart {
        cursor: pointer;
        background: $dark-desaturated-violet;
        color: $white;
        padding: 6px 0 3px 0;
        margin-bottom: 15px;
        width: 100%;
        transition: background-color 300ms;

        &:hover {
            background-color: $moderate-pink;
        }
    }

    .product-title {
        margin-bottom: 5px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            margin: 10px 0;

            input[type=checkbox] {
                display: none;
            }

            .label-for-check {
                display: flex;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                margin-left: 25px;

                &::before {
                    box-sizing: border-box;
                    width: 12px;
                    height: 12px;
                    border-radius: 2px;
                    border: 2px solid #d5d5d5;
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: -25px;
                    background: #e3e3e3;
                }

                &::after {
                    box-sizing: border-box;
                    width: 12px;
                    height: 12px;
                    content: '\2714';
                    font-size: 20px;
                    color: $dark-moderate-violet;
                    display: none;
                    position: absolute;
                    top: -3px;
                    left: -25px;
                }

                .sample {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;
                    background-color: $white;
                }
            }

            input[type=checkbox]:checked+.label-for-check {
                &::after {
                    display: block;
                }
            }
        }

        .products-filter__heading {
            border-bottom: 1px solid $moderate-pink;
            min-width: 230px;
            margin-bottom: 40px;
            display: flex;
            padding-bottom: 5px;
            justify-content: space-between;
        }

        .products-filter {
            font-size: 14px;
            padding: 35px 10px 0 10px;

            .closed {
                .vertical {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                }

                .horizontal {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(-90deg);
                    opacity: 1;
                }
            }

            .opened {
                opacity: 1;

                .vertical {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(90deg);
                }

                .horizontal {
                    transition: all 0.5s ease-in-out;
                    transform: rotate(90deg);
                    opacity: 0;
                }
            }

            .circle-plus {
                height: 18px;
                width: 18px;
                font-size: 1em;
                opacity: 0.9;

                &,
                &.closed,
                &.opened {
                    display: none;
                }
            }

            .circle-plus .circle {
                position: relative;
                width: 18px;
                height: 18px;
            }

            .circle-plus .circle .horizontal {
                position: absolute;
                background-color: $moderate-pink;
                width: 18px;
                height: 3px;
                left: 50%;
                margin-left: -8.5px;
                top: 50%;
                margin-top: -1px;
            }

            .circle-plus .circle .vertical {
                position: absolute;
                background-color: $moderate-pink;
                width: 3px;
                height: 18px;
                left: 50%;
                margin-left: -1px;
                top: 50%;
                margin-top: -8.5px;
            }
        }

        .products {
            padding: 35px 35px 35px 0;
            display: flex;
            width: 75%;
            box-sizing: border-box;

            &__list {
                max-width: 900px;
                text-align: center;
                display: flex;
                flex-wrap: wrap;

                li.product {
                    padding: 0 10px;

                    .product-inner {
                        display: flex;
                        width: $picture-width-d;
                        @include flex-layout(column);
                        margin-bottom: 10px;
                        flex-direction: column;
                        position: relative;

                        .product-picture {
                            position: relative;
                            width: $picture-width-d;

                            img {
                                width: $picture-width-d;
                            }

                            .sale-badge {
                                position: absolute;
                                width: 50px;
                                height: 50px;
                                right: -30px;
                                bottom: -33px;
                            }
                        }

                        .add-wrapper {
                            margin: 6px 0;
                        }

                        .product-price {
                            color: $dark-moderate-violet;
                            font-size: 20px;

                            .old-price {
                                font-size: 16px;
                                color: $black;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    .sheep-collection .wrapper .products-filter__heading {
        min-width: 265px;
    }

    .sheep-collection .wrapper .products .products__list li.product .product-inner {
        padding: 0px 6px;
    }
}

@media screen and (min-width: 1195px) {
    .sheep-collection .wrapper .products .products__list li.product .product-inner {
        padding: 0px 24px;
    }
}

@media screen and (min-width: 1300px) {
    .sheep-collection {
        .wrapper {
            width: 1300px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 1077px) {
    .sheep-collection {
        .wrapper {
            .products {
                justify-content: center;

            }
        }
    }
}

@media screen and (max-width: 870px) {
    .sheep-collection {
        .wrapper {
            .products-filter__heading {
                min-width: 200px;
            }
        }
    }
}

@media screen and (max-width: $mobile-view) {
    .h1 {
        font-size: 36px;
    }

    .h4 {
        font-size: 28px;
    }

    .top-bar {
        padding: 5px 10px;

        .menu {
            top: - $menu-height;
            left: 0;
            width: $menu-width-m;
            height: $menu-height;
            transition: top 500ms;
            text-align: center;
            padding: 40px 20px;

            &--slide {
                top: 0;
                transition: top 500ms;
            }

            @media (max-width: $mobile-view-landscape) and (orientation: landscape) {
                width: $menu-width-m-landscape;
                left: - $menu-width-m-landscape;

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    li {
                        margin: 0;
                    }
                }
            }
        }

        .shopping-cart {
            margin-right: 5px
        }
    }

    .sheep-collection {
        .wrapper {
            flex-direction: column;

            .products-filter {
                padding: 10px 10px;
                width: 100%;
                width: 100vw;
                box-sizing: border-box;

                &__heading {
                    margin: 10px 0;
                }

                &__list {
                    height: 0;
                    opacity: 0;
                    margin-top: 20px;
                    transition: opacity 200ms, height 800ms;

                    .circle-plus {
                        visibility: visible;
                        display: block;
                    }

                    &--rolldown {
                        height: 140px;
                        opacity: 1;
                        transition: opacity 200ms linear 400ms, height 800ms;
                    }
                }
            }

            .products {
                padding: 10px;
                width: 100%;
            }

            .products-filter__heading {
                @media screen and (max-width: 870px) {
                    min-width: 200px;
                }
            }

            .products-filter {
                .circle-plus {

                    &,
                    &.closed,
                    &.opened {
                        display: block;
                    }
                }
            }

            .products {
                .products__list {
                    justify-content: center;
                }
            }
        }
    }
}